extends ../layout

block content
    script.
        $(function(){
            $('th,td').addClass('w3-padding-16')
            $('button').click(function(){
                let label = $(this).text()
                if(label == '수정') {
                    document.location.href ='/gallery/update/#{gallery._id}'
                } else if (label == '삭제') {
                   
                } else if (label == '리스트') {
                    document.location.href = '/gallery'
                }
            })
        })
    section.w3-cotainer.w3-padding-32
        table.w3-table.w3-table-all
            tr
                th= gallery.gStrTitle
            tr
                td
                    img(src='/uploads/' + gallery.gUpLoadPhotoName, width="50%")
            tr  
                td !{gallery.gStrText}
    section.w3-container.w3-padding.w3-right
        //- 클래스 리스트를 배열로 선언하고, 공통으로 적용하기
        - var btnClasses = ['w3-button','w3-large','w3-round','w3-margin']
        button(class=btnClasses).w3-green 리스트
        button(class=btnClasses).w3-red 삭제
        button(class=btnClasses).w3-blue 수정





