extends ../layout

block content
    script.
        $(function(){
            $('button').click(function(){
                let label = $(this).text()
                if(label == "리스트") {
                    document.location.href="/"
                } else if(label == "삭제") {
                    if(confirm("정말 삭제할까요?")) {
                        document.location.href="/photo/delete/#{photo._id}"
                    }
                } else if(label == "수정") {
                    document.location.href="/photo/update/#{photo._id}"
                }
            })
        })

    section.container-flud.p-5
        table.table
            tr
                th= photo.pTitle
            tr
                td
                    img(src="/images/" + photo.pPhotoName,width="500px;")
            tr
                td= photo.pText
    section.container-fluid.p-5.text-right

        button.btn.btn-primary 수정
        button.btn.btn-warning 삭제
        button.btn.btn-success 리스트